@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  height: 100vh;
  background-color: #222;

  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -3;
  top: 0;
  left: 0;
}
.js-count-particles {
  font-size: 1.1em;
}

.load a {
  position: absolute;
  right: 2rem;
  font-size: 1rem;
  bottom: 5rem;
  color: #fff;
}
body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  background-color: #1d1d1d;
  background-color: #222;
}
html {
  scroll-behavior: smooth;
}

#section--1 {
  background: #1d1d1d;
  /* background: #333; */
  background-color: #3c3838;
  background-color: #111;
}

#section--3 {
  background: #1d1d1d;
  border-bottom: 1px solid aqua;
}

#section--4 {
  background-color: rgb(21, 20, 20);
  border-bottom: 1px solid aqua;
}

header {
  height: 100vh;
}
li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}
h4 {
  font-size: 2rem;
  color: aqua;
}
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

  box-shadow: 1px 2px 10px 7px rgb(31, 30, 30);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: gray;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}
.content {
  padding: 4rem;
}

.content h1 {
  background-size: 100% 100%;
  background-position: 0px 0px;

  background: linear-gradient(to right, #00f260, #0575e6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4.3rem;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;

    background-color: #1d1d1d;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 100000;
  }

  .nav-item {
    padding: 1rem 0;

    border-bottom: 1px solid #3c3838;
    width: 100%;
  }
  .nav-menu.active {
    left: 0;
  }
  .content {
    margin-top: 0.5rem;
    padding: 1.2rem;
  }
  .content h1 {
    font-size: 3.5rem;
  }
  .btn {
    margin-top: 14px;
  }
}

h1 {
  color: #fff;
  margin: 0;
  font-size: 3.5rem;
  line-height: 1.4;

  background: linear-gradient(to right, #11998e, #38ef7d);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  padding: 6px 15px;

  font-size: 17px;
  font-weight: 400;
  text-align: center;

  border: none;

  background: transparent;
  border: 1px solid aqua;

  color: #fff;
  margin-top: 20px;

  padding: 0.8rem 2.4rem;
}

.btn:hover {
  transform: scale(0.98);

  cursor: pointer;
  box-shadow: 0px 1px 2px 1px rgb(136, 221, 221);
}

#section--1 {
  background-color: #1d1d1d;
  /* height: 100vh; */
  border-bottom: 1px solid aqua;
}

.content p {
  font-size: 1.4rem;
  padding: 1rem 4rem 0 0;
  text-align: justify;

  color: #999696;
  opacity: 0.8;
  margin-bottom: 0.6rem;
  width: 80%;
  line-height: 1.7;
}

@media (max-width: 768px) {
  .content p {
    font-size: 1rem;
    padding: 1rem 4rem 0 0;
    text-align: justify;

    margin-bottom: 0.6rem;
    width: 100%;
    line-height: 1.3;
  }
  .content .strong {
    margin-bottom: 1.5rem;
  }
}
/* //////////////section--2////////////// */

.imgandabout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-self: center;
  justify-content: center;
  padding: 2rem 8rem;
}

.column-left {
  text-align: center;
  padding: 2rem;
}
.column-right {
  text-align: center;
  padding: 1rem;
}
img {
  width: 100%;
  height: auto;
}

#image {
  height: 300px;
  width: 350px;
}
@media (max-width: 868px) {
  .imgandabout {
    grid-template-columns: 1fr;
  }

  .project {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  #image {
    height: 250px;
    width: 300px;
  }
}
.column-right p {
  text-align: justify;
  line-height: 1.4;
  font-size: 1rem;
  padding: 0 1rem;
  color: #999696;
}

.head {
  text-align: center;
  padding-top: 20px;
}

/* ////////////////////////////skill section//////////////////////////////////// */

.skill-container {
  display: flex;
  flex-flow: row wrap;
  /* padding: 0px 306px; */
  /* margin: 4rem 0px; */
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  place-content: center;
  /* gap: 1rem; */
  padding: 1rem 15rem;
}

.skill {
  /* border: 1px solid rgb(70, 66, 66); */
  /* padding: 20px 20px; */

  padding: 3rem;
  padding-top: 2rem;
  margin: 10px;
  height: 150px;
  width: 150px;
  background-color: #222;
  border-radius: 6px;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border: 1px solid rgb(63, 63, 63);
}

.skill p {
  text-align: center;
  text-transform: uppercase;
  color: rgb(252, 246, 246);
  color: #9d9797;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 5px;
}

strong {
  color: rgb(143, 139, 139);
  opacity: 0.6;
  font-size: 1rem;
}

.language {
  width: 90%;
}

.skill:hover {
  background-color: #38ef7d;

  transform: scale(1.04);
  transition: 0.3s ease-in-out all;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  border: none;
}
.skill:hover p {
  color: #111;
}

.skill:nth-of-type(1):hover {
  background: linear-gradient(to right, #24c6dc, #514a9d);
}
.skill:nth-of-type(2):hover {
  background: linear-gradient(to right, #d72a17, #f8ba35);
}
.skill:nth-of-type(3):hover {
  background: linear-gradient(to right, #11998e, #38ef7d);
}
.skill:nth-of-type(4):hover {
  background: linear-gradient(to right, #7f00ff, #e100ff);
}
.skill:nth-of-type(5):hover {
  background: linear-gradient(to right, #11998e, #38ef7d);
}
.skill:nth-of-type(6):hover {
  background: linear-gradient(to right, #57489d, #4286f4);
}
.skill:nth-of-type(7):hover {
  background: linear-gradient(to right, #fc4a1a, #f7b733);
}
.skill:nth-of-type(8):hover {
  background: linear-gradient(to right, #333333, #dd1818);
}
.skill:nth-of-type(9):hover {
  background: linear-gradient(to left, #e5d35d, #d29172);
}
.skill:nth-of-type(10):hover {
  background: linear-gradient(to right, #c0392b, #8e44ad);
}

@media (max-width: 868px) {
  .skill-container {
    /* padding: 1.5 5rem; */
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}
@media (max-width: 700px) {
  .skill-container {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem 2.5rem;
  }
}

@media (max-width: 500px) {
  .skill-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* //////////////////////////////////////////////contact/////////////////////// */

.contact {
  display: flex;
  justify-content: space-evenly;

  padding: 3rem 0;
}

.png-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.png-container {
  width: 500px;
  height: 500px;
  /* border: 2px solid wheat; */
}
.form {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.field input {
  margin-bottom: 1rem;
  padding: 0.7rem 1rem;
  outline: none;
  border: none;

  font-size: 12px;
  background: #222;
  width: 100%;
}

textarea {
  border: none;
  width: 100%;
  height: 120px;
  outline: none;
  font-size: 1rem;
  transition: all 0.3s ease;

  background: #222;
}

footer {
  background-color: #222;

  text-align: center;
  padding: 20px;
}

footer span {
  /* color: #fff; */
  text-align: center;
  padding: 12px;
}
footer span a {
  color: aqua;
  text-decoration: underline;
}

textarea:hover,
input:hover {
  border-bottom: 2px solid aqua;
  transition: 0.4s ease-in;
  cursor: pointer;
}

@media (max-width: 868px) {
  .contact {
    align-items: center;

    padding: none;
  }
}

@media (max-width: 768px) {
  .contact {
    flex-direction: column;

    justify-content: center;
    padding: 3rem;
  }
  .png-container {
    width: 300px;
    height: 230px;
    object-fit: cover;
  }
}

/* ---- reset ---- */

section1 {
  position: relative;
  height: 600px;
  background: #f1f5f8;
  padding: 10px 0px;
  width: 100%;
}
.section1 h2 {
  text-align: center;
  font-size: 40px;
}
.section1 p {
  text-align: center;
  padding: 0px 70px;
  color: grey;
}
.sticky-social {
  position: fixed;
  top: 200px;
  right: 0px;
  padding: 0px;
  margin: 0px;
  z-index: 888;
}
.social {
  list-style: none;
}
.social li {
  padding: 10px 10px;
  font-size: 25px;

  transition: all 0.5s ease-in-out;
}

.social li:hover {
  margin-left: 20px;
}

.fa {
  color: aqua;
}

.fb,
.twitter,
.insta,
.pin,
.vim {
  background-color: #222;
  border-bottom: 1px solid rgb(69, 64, 64);
}

/* /////////////////////////////////////////////////////////////// */
#section--2 {
  background-color: #111;
  padding: 2rem 5rem;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;

  margin-top: 1rem;

  padding: 2rem 2rem;
}

.projects .image {
  width: 100%;
  height: auto;

  margin: 0 auto;
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid rgb(59, 57, 57);
  background-color: #222;
  padding: 1rem;
  box-shadow: 1px 2px 5px 5px rgb(31, 30, 30);
}
.projects .project h3 {
  font-size: 1rem;
  margin-top: 0.5rem;
  border-bottom: 2px solid aqua;
}
.projects .project p {
  margin-top: 0.8rem;
  font-size: 0.8rem;
  text-align: justify;
  color: rgb(186, 180, 180);
  opacity: 0.9;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  margin-top: 0.8rem;
}
.button {
  color: #fff;
  background: transparent;
  border: 1px solid aqua;
  padding: 0.4rem 0.8rem;
}

.button a {
  font-size: 0.8rem;
}

.project:hover {
  cursor: pointer;

  opacity: 1;

  cursor: pointer;

  transition: 0.2s ease-in-out;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);

  transform: scale(1.1);
  border: none;
}

.button:hover {
  transition: 0.2s ease all;
  transform: scale(0.98);
  cursor: pointer;
  box-shadow: 0px 1px 2px 1px rgb(136, 221, 221);
}

@media (max-width: 868px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .projects {
    grid-template-columns: 1fr;
  }
  #section--2 {
    padding: 1rem 0.5rem;
  }
  #section--2 h1 {
    font-size: 2.2rem;
    text-align: center;
  }
}
#section--2 h1 {
  text-align: center;
}

.logo {
  height: 60px;
  width: 70px;
  background-color: #222;
  display: flex;
  margin-right: 10px;
}

#preloader {
  background: #222 url("Spin-1s-198px.svg") no-repeat center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-size: 25%;
}

@media (max-width: 800px) {
  #preloader {
    background-size: 50%;
  }
}
